/*body styling*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px; /* Base font size for adaptability */
}

/*header & logo styling*/
header {
    height: 60px;
    position: center;
}

.centered-logo {
    position: relative;
    margin: 0 auto;
    top: 10px;
    bottom: 10px;
    width: 120px;
    height: auto;
}

/*content formatting*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Image styling */
.image-container {
    width: 110%;
    max-height: calc(100vh - 60px);
    border: 0px;
}

.homeImg {
    width: 100%; /* Set the image width to 100% of the parent container (the screen width) */
    max-height: calc(100vh - 60px); 
    object-fit: cover; /* Crop the image if it exceeds the maximum height */
}

/*INPUT STYLING*/
/* Style the container for the input box */
.input-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    height: 16px;
}

.styled-input {
    padding: 15px; /* 5% of the parent container's width */
    border: 3px solid #ccc; /* 3px border */
    border-radius: 10px;
    font-size: 16px; /* 3% of the viewport width */
    width: 40vw; /* 80% of the parent container's width */
    height: 16px;
    transition: border 0.3s;
    margin-top: 10%;
}

/* Style the input box when it's in focus (clicked) */
.styled-input:focus {
    border-color: #186920;
}

/* Style the search button */
.search-button {
    background-color: #186920; /* Green background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 5%; /* Adjust width as needed */
    min-width: 50px;
}

/* Style the search button icon (Font Awesome) */
.search-button i {
    font-size: 20px;
}

/* Style the search button on hover for feedback */
.search-button:hover {
    background-color: #0b350f; /* Slightly darker green on hover */
}