/*header & logo styling*/
header {
  height: 60px;
  text-align: center; /* Center-align text */
}

.centered-logo {
  position: relative;
  margin: 0 auto;
  top: 10px;
  bottom: 10px;
  width: 120px;
  height: auto;
}

/* Search bar styling */
.input-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.styled-input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.search-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}


/* Styles for the bottom tab bar */

.bottom-tab-bar {
  display: flex;
  justify-content: space-around;
  background-color: #3e7e38;
  position: fixed;
  bottom: 0;
  width: 110%;
  left: -1%;
  z-index: 1;
  box-shadow: 0px -3px 10px rgba(8, 8, 8, 0.2);
}

.bottom-tab-button {
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #16691f;
  border: 1px solid #6b6b6b;
  border-radius: 15px;
}

/* Style for the active tab */
.active {
  background-color: #124c18;
  border: .5px solid #6b6b6b;
}

/* Hover effect for buttons */
.bottom-tab-button:hover {
  background-color: #264025;
}


.wrapper {
  background-color: rgb(199, 209, 199);
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black; /* Added black border under the month and year */
  padding-bottom: 10px;
}

.current-date {
  color: white;
  font-size: 24px;
}

.icons {
  display: flex;
  gap: 10px;
}

.calendar {
  margin-top: 20px;
}

.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  border-bottom: 3px solid black; /* Thickness of the border */
  padding-bottom: 20px; /* Increased padding to move the line further down */
}


.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.day-names span, .days-grid span {
  background-color: white;
  padding: 40px; /* Reduced padding */
  display: flex;
  align-items: center; /* Align to center */
  justify-content: center; /* Align to center */
  position: relative;
}

.days-grid span::before {
  content: attr(data-day);
  position: absolute;
  top: 10px; /* Position to top left */
  left: 10px; /* Position to top left */
  background-color: transparent; /* No background */
  color: black; /* Change this to your preferred color if needed */
  padding: 0; /* Remove padding */
}
